<p>
  UI <a href="https://github.com/jenkins-infra/plugin-site/commit/{{pluginSiteVersion}}">{{pluginSiteVersion}}</a> / API <a href="https://github.com/jenkins-infra/plugin-site-api/commit/{{pluginSiteApiVersion}}">{{pluginSiteApiVersion}}</a>
</p>
