{
  "rules": {
    "block-opening-brace-space-before": "always",
    "indentation": 4,
    "rule-empty-line-before": "never",
    "order/properties-alphabetical-order": true,
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    }
  },
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-selector-bem-pattern"
  ]
}