<html>
  <head>
    <title>Jenkins Plugins List</title>
    {{> header }}
  </head>
  <body>
    <div id="grid-box"></div>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
