.root {
    padding: 0;
}
.version {
    background-image: url(../images/jar.png);
    background-position: left center;
    background-repeat: no-repeat;
    list-style: none;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}
.checksums {
    font-size: 0.7rem;
}