.SearchResults--GridBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}
.SearchResults--ItemBox {
    background: #fff;
    border: 0.1rem solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #666;
    display: block;
    flex: 0 0 auto;
    font-size: 0.85rem;
    height: 16.5rem;
    margin: 0.25rem;
    min-height: 6rem;
    opacity: 0.9;
    padding: 0.67rem;
    text-align: left;
    text-decoration: none !important;
    width: 13rem;
    :hover {
        border: 0.1rem solid #999;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
        opacity: 1;
        text-decoration: none;
    }
}